@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Open+Sans&family=Roboto&display=swap');

body{
	background-color: #ebdbc8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sobre{
    margin-top: 25px;
}
.centerindex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
.links{
    border: 2px solid #d24f68;
}
.links:hover{
	color: white;
}
.sobre-contato{
    margin-top: 35px;
    text-align: center;
}
.email-box{
    max-width: 300px;
    display: inline-block;
}
.email-contato{
    text-align: center;
}
.email-contato a{
    text-decoration: none;
    color: black;
}
.email-contato img{
    width: 9%;
}
.email-contato h4{
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
}
.email-contato p{
    font-size: 15px;
}
.whatsapp-box{
    max-width: 300px;
    display: inline-block;
}
.whatsapp-contato{
    text-align: center;
}
.whatsapp-contato a{
    text-decoration: none;
    color: black;
}
.whatsapp-contato img{
    width: 9%;
}
.whatsapp-contato h4{
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
}
.whatsapp-contato p{
    font-size: 15px;
}
.insta-box{
    max-width: 300px;
    display: inline-block;
}
.insta-contato{
    text-align: center;
}
.insta-contato a{
    text-decoration: none;
    color: black;
}
.insta-contato img{
    width: 9%;
}
.insta-contato h4{
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
}
.insta-contato p{
    font-size: 15px;
}
.local-box{
    margin-top: 50px;
    max-width: 300px;
    display: inline-block;
}
.local-contato{
    text-align: center;
}
.local-contato a{
    text-decoration: none;
    color: black;
}
.local-contato img{
    width: 8%;
}
.local-contato h4{
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
}
.local-contato p{
    font-size: 15px;
}
.centercardapio{
    display: -webkit-box;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 2%;
    text-align: center;
}
.centercardapio h2{
    font-size: 18px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 1px;
    display: inline-block;
}
.centercardapio a h3{
    font-size: 14px;
    margin-left: 10px;
    background: #d24f68;
    color: black;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}
.centercardapio img{
	width: 55%;
	margin-top: 20px;
}
header{
	background-color: white;
    padding: 20px 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.329);
}
.logo{
    width: 50%;
}
.logo img{
	width: 85px;
}
.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}
section.sobre{
    height: calc(100% - 50px);
    position: relative;
}
.extrasindex{
    position: absolute;
    right: 130px;
    margin-top: 80px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: #d24f68;
}
.imginicio1{
    position: relative;
    right: -25px;
    bottom: 60px;
    width: 150px;
    border-radius: 40%;
    box-shadow: 20px 20px 50px -30px black;
}
.social-media{
	position: relative;
	left: 55px;
}
.social-media img{
	width: 20px;

}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
.texto-quemsomos{
    margin-top: -20px;
}
.texto-quemsomos h1{
    font-size: 40px;
}
.texto-quemsomos p{
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: bold;
    max-width: 600px;
}
.texto-sobre{
    margin-bottom: 10px;
}
.texto-sobre h1{
    font-size: 40px;
}
.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 16px;
    font-weight: bold;
    max-width: 600px;
}
.texto-sobre button{
    border: 0;
    background-color: #d24f68;    
    font-weight: bold;
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-family: roboto;
}
.direitos{
	position: relative;
	display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
.direitos p{
	margin: 20px 0;
	max-width: 600px;
	font-size: 10px;
	color: rgb(126, 126, 126);
}
.direitos-cardapio{
	text-align: -webkit-center;
	position: relative;
    display: flow-root;
}
.direitos-cardapio p{
	margin: 20px 0;
	max-width: 600px;
	font-size: 10px;
	color: rgb(126, 126, 126);
}
.direitos-quemsomos{
	position: relative;
	display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
	top: 30px;
}
.direitos-quemsomos p{
	margin: 0;
	max-width: 600px;
	font-size: 10px;
	color: rgb(126, 126, 126);
}
.direitos-contato{
    text-align: -webkit-center;
	position: relative;
	top: 3px;
}
.direitos-contato p{
	margin: 20px 0;
	max-width: 600px;
	font-size: 10px;
	color: rgb(126, 126, 126);
}
.checkbtn{
	font-size: 60px;
	color: black;
	cursor: pointer;
    width: 50%;
    text-align: right;
	display: none;
}
#check{
	display: none;
}
ul{
	margin: 0;
	padding: 0;
}
@media (max-width: 952px){
	.logo a img{
		width: 80px;
	}
	.menu a{
		font-size: 16px;
	}    
    .extrasindex{
        display: none;
    }
}
@media (max-width: 858px){
	.texto-quemsomos p{
        font-size: 13px;
    }
    .checkbtn{
		display: block;
	}
	.menu{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: white;
		top: 100px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	.menu a{
		display: block;
		font-size: 30px;
		margin-bottom: 50px;
	}
	#check:checked ~ .menu{
		left: 0;
		position: relative;
	}
	.texto-sobre h1{
		font-size: 20px;
	}
    .texto-quemsomos h1{
        font-size: 20px;
    }
    .centercardapio img{
        width: 95%;
    }
}
@media (max-width: 680px){
    .texto-quemsomos p{
        font-size: 10px;
    }
    .texto-sobre p{
        font-size: 12px;
    }
}
@media (max-width: 1069px){
}
@media (max-width: 1001px){
}
@media (max-width: 358px){
	.texto-sobre h1{
		font-size: 20px;
	}
}